/* Day 2 Xtern Bootcamp
 * 06/06/17
 */

* {
  box-sizing: border-box;
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  background: #75b1a9;
  padding: 20px 30px 20px 30px;
  font-family: 'Verdana', sans-serif;
  font-size: 1rem;
  color: #4c4c4c;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

header {
  background-color: #4f6457;
  padding: 30px 0px 15px 0px;
  color: #fff;
  text-align: center;
}

header:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
  padding: 0px 0px 10px 40px;
}

h1, h3, h4 {
  display: block;
  margin: -10px -30px 30px -30px;
  font-family: 'Verdana', sans-serif;
}


label {
  margin: 2px 0px 5px 200px;
  padding-bottom: 5px;
  font-size: 1rem;
}

input[type="text"] {
  border: none;
  color: #4c4c4c;
  background: #acd0c0;
  margin: 2px 6px 0px 200px;
  outline: 0 none;
  padding: 5px 0px 5px 5px;
  font-size: 1.5rem;
  width: 50%;
  height: 3rem;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  position: relative;

  /* Makes the text non-selectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.renderedList {
  position: relative;
  padding: 15px 5px 15px 5px;
  background: #acd0c0;
  font-size: 1.5rem;
}


.delete {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.delete:hover {
  background: #d9ffa0;
}

.favorite {
  position: absolute;
  right: 60px;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.favorite, .delete {
  border: none;
  color: #e8e8e3;
  background: #4f6457;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 1px 1px 1px #3d3d3d;
  -webkit-box-shadow:1px 1px 1px #3d3d3d;
  -moz-box-shadow:1px 1px 1px #3d3d3d;
}

.favorite:hover, .delete:hover {
  color: #333;
  background-color: #ebebeb;
}

#append {
  margin: 2px 6px 0px 200px;
}

#append, #prepend {
  background: #4f6457;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #ececec;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-weight: bold;
  box-shadow: 1px 1px 1px #3d3d3d;
  -webkit-box-shadow:1px 1px 1px #3d3d3d;
  -moz-box-shadow:1px 1px 1px #3d3d3d;
}
